## 문제 4: 범주형 데이터 인코딩

범주형 데이터(Categorical Data)는 문자열 형태로 표현되는 데이터를 의미합니다.

머신러닝 알고리즘은 문자열 데이터를 바로 사용할 수 없기 때문에 숫자 형태로 변환해야 합니다.

범주형 데이터를 숫자 형태로 변환하는 방법에는 여러 가지가 있습니다.

대표적인 방법으로 Label Encoding과 One-Hot Encoding이 있습니다.

Label Encoding은 각 범주(Category)를 숫자로 매핑하는 방식입니다.

One-Hot Encoding은 각 범주를 이진 벡터로 표현하는 방식입니다.

데이터셋을 불러온 후, 범주형 데이터를 인코딩하는 코드를 작성하세요.
workclass, education, marital-status, occupation, relationship, race, gender, native-country 열을 Label Encoding으로 변환하세요.

In [17]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [ ]:
data = pd.read_csv('adult.csv')
df = pd.DataFrame(data)

In [19]:
print(df)

       age     workclass  fnlwgt     education  educational-num  \
0       25       Private  226802          11th                7
1       38       Private   89814       HS-grad                9
2       28     Local-gov  336951    Assoc-acdm               12
3       44       Private  160323  Some-college               10
4       18             ?  103497  Some-college               10
...    ...           ...     ...           ...              ...
48837   27       Private  257302    Assoc-acdm               12
48838   40       Private  154374       HS-grad                9
48839   58       Private  151910       HS-grad                9
48840   22       Private  201490       HS-grad                9
48841   52  Self-emp-inc  287927       HS-grad                9

           marital-status         occupation relationship   race  gender  \
0           Never-married  Machine-op-inspct    Own-child  Black    Male
1      Married-civ-spouse    Farming-fishing      Husband  White    Male
2      Married-civ-spouse    Protective-serv      Husband  White    Male
3      Married-civ-spouse  Machine-op-inspct      Husband  Black    Male
4           Never-married                  ?    Own-child  White  Female
...                   ...                ...          ...    ...     ...
48837  Married-civ-spouse       Tech-support         Wife  White  Female
48838  Married-civ-spouse  Machine-op-inspct      Husband  White    Male
48839             Widowed       Adm-clerical    Unmarried  White  Female
48840       Never-married       Adm-clerical    Own-child  White    Male
48841  Married-civ-spouse    Exec-managerial         Wife  White  Female

       capital-gain  capital-loss  hours-per-week native-country income
0                 0             0              40  United-States  <=50K
1                 0             0              50  United-States  <=50K
2                 0             0              40  United-States   >50K
3              7688             0              40  United-States   >50K
4                 0             0              30  United-States  <=50K
...             ...           ...             ...            ...    ...
48837             0             0              38  United-States  <=50K
48838             0             0              40  United-States   >50K
48839             0             0              40  United-States  <=50K
48840             0             0              20  United-States  <=50K
48841         15024             0              40  United-States   >50K

[48842 rows x 15 columns]

In [21]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              48842 non-null  int64
 1   workclass        48842 non-null  object
 2   fnlwgt           48842 non-null  int64
 3   education        48842 non-null  object
 4   educational-num  48842 non-null  int64
 5   marital-status   48842 non-null  object
 6   occupation       48842 non-null  object
 7   relationship     48842 non-null  object
 8   race             48842 non-null  object
 9   gender           48842 non-null  object
 10  capital-gain     48842 non-null  int64
 11  capital-loss     48842 non-null  int64
 12  hours-per-week   48842 non-null  int64
 13  native-country   48842 non-null  object
 14  income           48842 non-null  object
dtypes: int64(6), object(9)
memory usage: 5.6+ MB
None

In [22]:
# Label Encoding 적용할 열 목록 
cols = ['workclass', 'education', 'marital-status', 'occupation', 
        'relationship', 'race', 'gender', 'native-country']

# 각 열에 LabelEncoder 적용
# LabelEncoder -> 1차원 배열 받도록 설계
encoder = LabelEncoder()
for col in cols:
    df[col] = encoder.fit_transform(df[col])

print(df)

       age  workclass  fnlwgt  education  educational-num  marital-status  \
0       25          4  226802          1                7               4
1       38          4   89814         11                9               2
2       28          2  336951          7               12               2
3       44          4  160323         15               10               2
4       18          0  103497         15               10               4
...    ...        ...     ...        ...              ...             ...
48837   27          4  257302          7               12               2
48838   40          4  154374         11                9               2
48839   58          4  151910         11                9               6
48840   22          4  201490         11                9               4
48841   52          5  287927         11                9               2

       occupation  relationship  race  gender  capital-gain  capital-loss  \
0               7             3     2       1             0             0
1               5             0     4       1             0             0
2              11             0     4       1             0             0
3               7             0     2       1          7688             0
4               0             3     4       0             0             0
...           ...           ...   ...     ...           ...           ...
48837          13             5     4       0             0             0
48838           7             0     4       1             0             0
48839           1             4     4       0             0             0
48840           1             3     4       1             0             0
48841           4             5     4       0         15024             0

       hours-per-week  native-country income
0                  40              39  <=50K
1                  50              39  <=50K
2                  40              39   >50K
3                  40              39   >50K
4                  30              39  <=50K
...               ...             ...    ...
48837              38              39  <=50K
48838              40              39   >50K
48839              40              39  <=50K
48840              20              39  <=50K
48841              40              39   >50K

[48842 rows x 15 columns]